<div class="container body">
    <div class="container title">
        <span><img src="/assets/Screenshot_2022-08-23_000643-removebg-preview 1 (1).png"></span>&nbsp;
        <span style="color: #F4D03F; margin-bottom:10px"><b>LET'S</b></span>&nbsp;
        <span style="color: #1F618D"><b>BUNK</b></span>&nbsp;
        <span style="color: #F4D03F"><b>AGAIN</b></span>
        <span><img src="/assets/240_F_225226502_6PxcCZ27Hz4bVI2d7CXoMRArhPY0aL0X-removebg-preview 1.png" style="width:50px; margin-left: 1200px;"></span>
    </div>
    <div class="container searchbox" >
        <span style="color: #F4D03F"><b>LET'S</b></span>&nbsp;
        <span style="color: #1F618D"><b>BUNK</b></span>&nbsp;
        <span style="color: #F4D03F"><b>AGAIN</b></span>

    </div>
    <div class="container navdropdown">
     <select class="container dropone" style="margin-left:100px"><option value="1">budget</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><</select> 
     <select class="container dropone" style="margin-left:300px"><option value="1">Slect Your Address</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><</select>
     <select class="container dropone" style="margin-left:500px"><option value="1">Number of friend</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><</select>
     <select class="container dropone" style="margin-left:700px"><option value="1">Filters</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><</select>
     <select class="container dropone" style="margin-left:900px"><option value="1">Rating</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><</select>
     <select class="container dropone" style="margin-left:1100px"><option value="1">Rating</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><</select>  
    </div>
    <div class="container main" >
        <div class="container head">
            <h2 style="text-align:center; color: #15597E;">Explore all that Let’s Bunk has to offer</h2>
          <ng-image-slider [images]="imgCollection" id="imageslider" #nav></ng-image-slider>
        </div>
        <div class="container card">
            <img src="/assets/Rectangle 19 (1).png" id="image">
            <h2 style="color:#15597E;padding-bottom: 0px; margin-bottom: 0px; margin-left: 5px;" ><b>Combo name</b></h2>
            <img src="/assets/Screenshot_2022-09-10_185015-removebg-preview 1.png" id="combosymbul1">
            <img src="/assets/plus 1.png" id="combosymbulplus">
            <img src="/assets/Screenshot_2022-09-10_184728-removebg-preview 1.png" id="combosymbul1">
            <span style="color: #FEB300; font-size: 30px; display: inline; float: right; padding-right: 25px;" ><b>220</b></span>
            <h2 style="color:black;padding-bottom: 0px; margin-bottom: 0px; margin-left: 5px;" ><b>Location</b></h2>

        </div>
        <div class="container card" style="left: 400px;">
            <img src="/assets/Rectangle 19 (2).png" id="image">
            <h2 style="color:#15597E;padding-bottom: 0px; margin-bottom: 0px; margin-left: 5px;" ><b>Combo name</b></h2>
            <img src="/assets/Screenshot_2022-09-10_185015-removebg-preview 1.png" id="combosymbul1">
            <img src="/assets/plus 1.png" id="combosymbulplus">
            <img src="/assets/Screenshot_2022-09-10_184728-removebg-preview 1.png" id="combosymbul1">
            <span style="color: #FEB300; font-size: 30px; display: inline; float: right; padding-right: 25px;" ><b>220</b></span>
            <h2 style="color:black;padding-bottom: 0px; margin-bottom: 0px; margin-left: 5px;" ><b>Location</b></h2>

        </div>
        <div class="container card" style="left:730px">
            <img src="/assets/Rectangle 19 (3).png" id="image">
            <h2 style="color:#15597E;padding-bottom: 0px; margin-bottom: 0px; margin-left: 5px;" ><b>Combo name</b></h2>
            <img src="/assets/Screenshot_2022-09-10_185015-removebg-preview 1.png" id="combosymbul1">
            <img src="/assets/plus 1.png" id="combosymbulplus">
            <img src="/assets/Screenshot_2022-09-10_184728-removebg-preview 1.png" id="combosymbul1">
            <span style="color: #FEB300; font-size: 30px; display: inline; float: right; padding-right: 25px;" ><b>220</b></span>
            <h2 style="color:black;padding-bottom: 0px; margin-bottom: 0px; margin-left: 5px;" ><b>Location</b></h2>

        </div>
         <div class="container card" style="left: 1060px; ">
            <img src="/assets/Rectangle 19 (4).png" id="image">
            <h2 style="color:#15597E;padding-bottom: 0px; margin-bottom: 0px; margin-left: 5px;" ><b>Combo name</b></h2>
            <img src="/assets/Screenshot_2022-09-10_185015-removebg-preview 1.png" id="combosymbul1">
            <img src="/assets/plus 1.png" id="combosymbulplus">
            <img src="/assets/Screenshot_2022-09-10_184728-removebg-preview 1.png" id="combosymbul1">
            <span style="color: #FEB300; font-size: 30px; display: inline; float: right; padding-right: 25px;" ><b>220</b></span>
            <h2 style="color:black;padding-bottom: 0px; margin-bottom: 0px; margin-left: 5px;" ><b>Location</b></h2>

        </div>
        <br>
                <div class="container card" style="top: 800px;">
            <img src="/assets/Rectangle 19 (5).png" id="image">
            <h2 style="color:#15597E;padding-bottom: 0px; margin-bottom: 0px; margin-left: 5px;" ><b>Combo name</b></h2>
            <img src="/assets/Screenshot_2022-09-10_185015-removebg-preview 1.png" id="combosymbul1">
            <img src="/assets/plus 1.png" id="combosymbulplus">
            <img src="/assets/Screenshot_2022-09-10_184728-removebg-preview 1.png" id="combosymbul1">
            <span style="color: #FEB300; font-size: 30px; display: inline; float: right; padding-right: 25px;" ><b>220</b></span>
            <h2 style="color:black;padding-bottom: 0px; margin-bottom: 0px; margin-left: 5px;" ><b>Location</b></h2>

        </div>
        <div class="container card" style="left: 400px; top: 800px;">
            <img src="/assets/Rectangle 19 (6).png" id="image">
            <h2 style="color:#15597E;padding-bottom: 0px; margin-bottom: 0px; margin-left: 5px;" ><b>Combo name</b></h2>
            <img src="/assets/Screenshot_2022-09-10_185015-removebg-preview 1.png" id="combosymbul1">
            <img src="/assets/plus 1.png" id="combosymbulplus">
            <img src="/assets/Screenshot_2022-09-10_184728-removebg-preview 1.png" id="combosymbul1">
            <span style="color: #FEB300; font-size: 30px; display: inline; float: right; padding-right: 25px;" ><b>220</b></span>
            <h2 style="color:black;padding-bottom: 0px; margin-bottom: 0px; margin-left: 5px;" ><b>Location</b></h2>

        </div>
        <div class="container card" style="left:730px; top:800px;">
            <img src="/assets/Rectangle 19 (7).png" id="image">
            <h2 style="color:#15597E;padding-bottom: 0px; margin-bottom: 0px; margin-left: 5px;" ><b>Combo name</b></h2>
            <img src="/assets/Screenshot_2022-09-10_185015-removebg-preview 1.png" id="combosymbul1">
            <img src="/assets/plus 1.png" id="combosymbulplus">
            <img src="/assets/Screenshot_2022-09-10_184728-removebg-preview 1.png" id="combosymbul1">
            <span style="color: #FEB300; font-size: 30px; display: inline; float: right; padding-right: 25px;" ><b>220</b></span>
            <h2 style="color:black;padding-bottom: 0px; margin-bottom: 0px; margin-left: 5px;" ><b>Location</b></h2>

        </div>
         <div class="container card" style="left: 1060px; top:800px; ">
            <img src="/assets/Rectangle 19 (8).png" id="image">
            <h2 style="color:#15597E;padding-bottom: 0px; margin-bottom: 0px; margin-left: 5px;" ><b>Combo name</b></h2>
            <img src="/assets/Screenshot_2022-09-10_185015-removebg-preview 1.png" id="combosymbul1">
            <img src="/assets/plus 1.png" id="combosymbulplus">
            <img src="/assets/Screenshot_2022-09-10_184728-removebg-preview 1.png" id="combosymbul1">
            <span style="color: #FEB300; font-size: 30px; display: inline; float: right; padding-right: 25px;" ><b>220</b></span>
            <h2 style="color:black;padding-bottom: 0px; margin-bottom: 0px; margin-left: 5px;" ><b>Location</b></h2>

        </div>  
    </div>
</div>






























<!-- <div class=" row row-cols-lg-3  row-col-1 " >
<td *ngFor="let item of items" class="col card">
    <img src="{{item.image}}"  ><br>
    <h5>Caption:</h5>
</td>
</div>   -->










<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
<span><img src="/assets/Screenshot_2022-08-23_000643-removebg-preview 1 (1).png"></span>&nbsp;
<span style="color: #F4D03F; margin-bottom:10px"><b>LET'S</b></span>&nbsp;
<span style="color: #1F618D"><b>BUNK</b></span>&nbsp;
<span style="color: #F4D03F"><b>AGAIN</b></span>
<span><img src="/assets/240_F_225226502_6PxcCZ27Hz4bVI2d7CXoMRArhPY0aL0X-removebg-preview 1.png" style="width:50px; margin-left: 1200px;"></span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" > 
        <div class="col-md-12" style="margin-left:300px ">
            <input type="text" placeholder="LET'S BUNK AGAIN" style="border-radius: 50px; width: 900px; height:45px; text-align: center; font-size: 30px; color: green;">
            
        </div>
    </div>
</div>

<div class="container ">
    <div class="row" style="margin-left:150px; margin-top:50px;">
<select class="opt" name="date" ><option value="1">budget</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select class="opt1" name="date" ><option value="1">Slect Your Address</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select class="opt1" name="date" ><option value="1">Number of friend</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select class="opt" name="date" ><option value="1">Filters</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select class="opt" name="date" ><option value="1">Rating</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select class="opt" name="date" ><option value="1">Rating</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><</select>
    </div>
</div>
<div class="container cgclr">
    <div class="container bgclrinside">
        <div class="row" style="padding-top:10px;">
            <div class="col-md-8">
                <h2 style="text-align:center">Explore all that Let’s Bunk has to offer</h2>
            </div>
        </div>
        <div class="row" style="padding-top: 20px;">
            <div class="col-md-8">
                <ng-image-slider [images]="imgCollection" #nav></ng-image-slider>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">-->
                <!-- <div class="card" style="width: 18rem;"> -->
                    <!-- <img src="/assets/Rectangle 19.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Combo name</h5>
                    </div>
                    <img src="/assets/Screenshot_2022-09-10_184728-removebg-preview 1.png">
                    <img src="/assets/plus 1.png">
                    <img src="/assets/Screenshot_2022-09-10_185015-removebg-preview 1.png">
                </div> -->
           <!-- </div>
        </div>
</div> -->




 
  